<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:icon="@mipmap/logo_foreground"
        android:roundIcon="@mipmap/logo_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.Minesweeper">

        <activity android:name=".ui.GameScreen"
            android:exported="true"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.CreateRoomActivity" />
        <activity android:name=".ui.JoinRoomActivity" />
        <activity android:name=".ui.WaitingRoomActivity" />
        <activity android:name=".ui.SharedGameScreen" />
        <activity android:name=".ui.StatsActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>